body {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background: #0B0C10;
  color: #C5C6C7;
  text-align: center;
  margin: 0;
}

.centerBody {
  max-width: 1200px;
  background: #1F2833;
  margin: 20px auto;
  padding: 20px;
}

h1.title {
  color: #66FCF1;
}